@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header__nav {
    padding: 27px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-bc {
    background-color: #3E8989;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header__nav-list--link {
    font-family: RM;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.header__nav-list--link:hover {
    text-decoration: underline white 3px;
    text-underline-offset: 5px;
    transition: .8s;
}

.header__nav-form {
    display: flex;
}

.header__nav-form--search {
    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    padding: 8px 50px 8px 20px;
    border: none;
}

.header__nav-form--search::placeholder {
    font-family: RR;
    font-weight: 400;
    font-size: 16px;
    color: #898989;
}

.header__nav-form--btn {
    background: #295E5E;
    border-radius: 0px 20px 20px 0px;
    padding: 9px 14px;
    border: none;
    font-family: RR;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.header__face-of-cite {
    background-image: url(../img/header__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0px 288px 0px;
}

.header__main-chapter__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.header__main-chapter__title {
    font-family: RSB;
    font-weight: 600;
    font-size: 80px;
    color: #FFFFFF;
}

.header__main-chapter__subtitle {
    font-family: RM;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
}

.header__main-chapter__btn {
    background: #B4436C;
    border-radius: 30px;
    padding: 14px 77px;
    font-family: ISB;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
    transition: .5s;
}

.header__main-chapter__btn:hover {
    background: #FFFFFF;
    color: #B4436C;
    transform: scale(1.05);
    box-shadow: 0px 0px 32px 24px rgba(180, 67, 108, 0.8);
}

.about {
    padding: 80px 0px 80px 0px;
}

.title {
    font-family: ISB;
    font-weight: 600;
    font-size: 40px;
    color: #3E8989;
    text-align: center;
}

.about-info {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.about-info__text {
    font-family: RR;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.catalog {
    margin-bottom: 100px;
}

.catalog-products {
    margin-top: 53px;
    display: flex;
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: .3s;
    border: 2px solid transparent;
}

.product:hover {
    transform: scale(1.05);
    border: 2px solid #B4436C;
    box-shadow: 0px 0px 11px 11px rgba(180, 67, 108, 0.46);
}

.product-img__block {
    background: #EFEFEF;
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.product-img__block2 {
    background: #EFEFEF;
    padding: 76px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.product-img__block3 {
    background: #EFEFEF;
    padding: 73.5px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}


.product-img__block4 {
    background: #EFEFEF;
    padding: 17.5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.product-img__block:hover {
    background: #B4436C;
    cursor: pointer;
}

.product-img__block2:hover {
    background: #B4436C;
    cursor: pointer;
}

.product-img__block3:hover {
    background: #B4436C;
    cursor: pointer;
}

.product-img__block4:hover {
    background: #B4436C;
    cursor: pointer;
}

.product-title {
    font-family: ISB;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    text-align: center;
    transition: 400ms;
}

.product-title:hover {
    color: #B4436C;
}

.contacts {
    padding: 0px 0px 104px 0px;
}

.contacts-title {
    font-family: ISB;
    font-weight: 600;
    font-size: 40px;
    color: #3E8989;
}

.contacts-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.contacts-text {
    font-family: RR;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.contacts-number {
    font-family: RR;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.footer {
    background: #3E8989;
    padding: 40px 0px 15px 0px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__nav-list--link {
    font-family: RM;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.footer__nav-list--link:hover {
    text-decoration: underline white 3px;
    text-underline-offset: 5px;
    transition: .8s;
}

.footer__end {
    margin-top: 59px;
    font-family: RR;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

@media(max-width:1140px) {
 .about {
 width: 1100px;
 padding-left: 30px;
 }

.catalog {
    width: 1120px;
}

.contacts {
width: 1100px;
}

.footer {
    width: 1120px;
}

.header__face-of-cite {
    width: 1120px;
}

}